* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen__container {
  display: flex;
  justify-content: center;
  border: 2px solid silver;
  height: 150px;
}
.screen__container .screen__output {
  display: grid;
  grid-template-columns: 1fr;
}

.calculator__container {
  display: flex;
  justify-content: center;
}
.calculator__container .calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: red;
  gap: 4%;
  text-align: center;
}
.calculator__container .calculator__buttons .btn {
  background-color: grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.calculator__container .calculator__buttons .zero__button {
  color: blue;
  grid-column: 1/3;
}